<!DOCTYPE html>
<html>
  <head><script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>
	<script src="/javascripts/main.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app='colorsTest'>
  	<div class='header'>COLOR CHALLENGE</div>
  	<div class='rules'>click on the correctly named tiles!</div>

  	<div ng-view></div>


  </body>
</html>