body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/stardust.png');
}

.header {
	color: red;
	font-weight: bold;
	font-size: 3.5em;
	text-align: center;
	margin-top: 30px;
}

.rules {
	color: silver;
	font-size: 1.2em;
	text-align: center;
}
